extends layout

block content
	div 
		h1 We are back!
		h1 On the 9th of May 2017, the fully independent, punk, Leeds Testing Atelier returns at the amazing Wharf Chambers for a day of learning, collaboration and laughs! 
	hr
	div(class="sign-up")
		table.sign-up
			tr
				td
					img.sign-me-up(src="./images/sign-me-up.jpeg")
				td.spacer
				td
					h2 Registration is now open! What are you waiting for?!?
					a(href='http://www.eventbrite.co.uk/e/test-event-tickets-32065109606?ref=ebtnebregn', target='_blank'): img(src='https://www.eventbrite.co.uk/custombutton?eid=32065109606', alt='Eventbrite - Test Event', align="center")
				td.spacer
				td
					img.sign-me-up(src="./images/sign-me-up.jpeg")
	hr
	block speakers
		h1 Our amazing speakers!
		for speaker in speakers
			div(class="speakers-table")
				table
					tr
						td.mugshot
							img.speaker-pic(src='#{speaker.picture}')
						td.spacer
						td.blurb		
							h4.speaker-name #{speaker.name}
							h5.speaker-title #{speaker.title}
							p.speaker-bio #{speaker.bio}
							p.speaker-abstract #{speaker.abstract}
							a.twitter-follow-button(href="https://twitter.com/#{speaker.twitter}", data-show-count="false"): Follow #{speaker.twitter}
				hr
	div(class="links")
		table.various-links
			tr
				td.submit
					p We would absolutely love to hear from you, your successes, your learning, everything in between!
					p This Call for Papers won't close, just submit and we'll get back to you...
					a(href="/callforpapers"): button(type="button") Submit your awesome idea
				td.peek
					p For a bit of inspiration, check out our Atelier archive!
					p We had a few goes at this, learning all the time, so step back in time and 
					a(href="/previousateliers"): button(type="button") Peek at previous ateliers
