mixin speakerTable(speakers)
    each speaker in speakers
        table
            tr
                td.speakerTable
                    img.speaker-image(src='/'+speaker.picture, alt=speaker.name)
                    h4.speaker-name #{speaker.name}
                    h5.speaker-title #{speaker.title}
                    p.speaker-bio #{speaker.bio}
                    p.speaker-abstract #{speaker.abstract}
                    a.twitter-follow-button(href="https://twitter.com/"+speaker.twitter, data-show-count="true"): Follow #{speaker.twitter}
                    section(style="padding-top: 50px;")