mixin speakerTable(speakers)
    each speaker in speakers
        table
            tr.speakerTable
                    +img-responsive('/'+speaker.picture, speaker.name)
                    h4.speaker-name #{speaker.name}
                    p.speaker-bio #{speaker.bio}
            tr.speakerTalk
                    h5.speaker-title #{speaker.title}
                    p.speaker-abstract #{speaker.abstract}
            tr.twitter
                    a.twitter-follow-button(href="https://twitter.com/"+speaker.twitter, data-show-count="true"): Follow #{speaker.twitter}
            hr