mixin speakerCarousel(id, sponsors)
    .carousel.slide(id="carousel-#{id}",data-ride="carousel")
        //- Indicators
        ol.carousel-indicators
            each speaker,index in speakers
                if(index === 0)
                    li.active(data-target="#carousel-#{id}", data-slide-to="#{index}")
                else
                    li(data-target="#carousel-#{id}", data-slide-to="#{index}")


        //- Wrapper for slides
        .carousel-inner(role="listbox")
            each speaker,index in speakers
                if(index === 0)
                    .item.active
                        table
                            tr
                                td.mugshot
                                    img(src="#{sponsor.picture}")
                                td.spacer
                                td.blurb
                                    h4.sponsor-name #{sponsor.name}
                                    p.sponsor-about #{sponsor.about}
                                    a.twitter-follow-button(href="https://twitter.com/#{sponsor.twitter}", data-show-count="false"): Follow #{sponsor.twitter}
                else
                    .item
                        table
                            tr
                                td.mugshot
                                    img(src="#{sponsor.picture}")
                                td.spacer
                                td.blurb
                                    h4.sponsor-name #{sponsor.name}
                                    p.sponsor-about #{sponsor.about}
                                    a.twitter-follow-button(href="https://twitter.com/#{sponsor.twitter}", data-show-count="false"): Follow #{sponsor.twitter}
        //-  Controls
        a.left.carousel-control(href="#carousel-#{id}", role="button", data-slide="prev")
            +icon("chevron-left")
            span.sr-only Previous
        a.right.carousel-control(href="#carousel-#{id}", role="button", data-slide="next")
            +icon("chevron-right")
            span.sr-only Next